* {
  font-family: "Space Mono", monospace;
}
html {
  background-color: hsl(185, 41%, 84%);
}
body {
  display: flex;
  align-items: center;
  justify-content: center;
}
.attribution {
  font-size: 11px;
  text-align: center;
}
.attribution a {
  color: hsl(228, 45%, 44%);
}

.left {
  width: 20rem;
  height: 20rem;
  /* border: black solid; */
  color: hsl(186, 14%, 43%);
  font-weight: bolder;
}

.right {
  display: flex;
  flex-direction: column;
  width: 20rem;
  height: 20rem;
  /* border: black solid; */
  border-radius: 15px;
  background-color: hsla(183, 100%, 15%, 0.918);
  color: white;
  font-weight: bolder;
}
/* .left {
  width: 330px;
  height: 340px;
  border: black solid;
}

.right {
  width: 330px;
  height: 340px;
  border: black solid;
} */

.container {
  background-color: white;
  width: 800px;
  height: 400px;
  /* border: black solid; */
  display: grid;
  grid-template-columns: 1fr 1fr;
  grid-gap: 20px;
  align-items: center;
  justify-items: center;
  grid-gap: 0px;
  border-radius: 15px;
}

.p-left {
  margin-top: 0px;
}

.bill {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 2rem;
  margin-bottom: 1rem;
  background-color: rgba(128, 128, 128, 0.158);
}

.logo-bill {
  height: 100%;
  width: 35px;
  background: url("/images/icon-dollar.svg") no-repeat center;
}

.select {
  display: grid;
  margin-bottom: 2rem;
  grid-template-columns: auto auto auto;
  grid-gap: 10px;
}

#custom {
  width: 100px;
  padding: 0px;
  margin: 0px;
  text-align: end;
  font-size: larger;
  color: hsl(186, 14%, 43%);
  font-weight: bolder;
  border-radius: 5px;
}

#text {
  font-size: larger;
  color: hsl(186, 14%, 43%);
  font-weight: bolder;
  border-radius: 5px;
}

#custom::placeholder {
  text-align: center;
}

input[type="text"]::placeholder {
  text-align: right; /* for Chrome, Firefox, Opera */
}
:-ms-input-placeholder {
  text-align: center; /* for IE 10-11 */
}
::-webkit-input-placeholder {
  text-align: center; /* for IE Edge */
}

button {
  height: 40px;
  width: 100px;
  border-radius: 5px;
  border: none;
  font-size: larger;
  color: white;
  background-color: hsl(183, 100%, 15%);
}

#text {
  height: 30px;
  width: 90%;
  background: url("/images/icon-person.svg") no-repeat 0.8rem;
  padding-left: 30px;
  text-align: end;
  border: none;
  background-color: rgba(128, 128, 128, 0.158);
}

.amount {
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* border: black solid; */
  margin: 20px;
  margin-top: 35px;
  align-items: center;
}
.total {
  display: flex;
  justify-content: space-between;
  height: 40px;
  /* border: black solid; */
  margin: 20px;
  align-items: center;
}

.value {
  font-size: xx-large;
  color: hsl(172, 67%, 45%);
}

.reset {
  margin: 20px;
  margin-top: 5rem;
  width: 90%;
  /* border: none; */
  /* background-color: hsl(172, 67%, 45%); */
  font-weight: bolder;
  background-color: hsla(172, 67%, 45%, 0.137);
  color: rgba(0, 0, 0, 0.171);
}
